<footer class="main-footer ph3 pv4 white">
	<div class="mw7 center pt3">
		<div class="flex-ns justify-between">
			<div>
				<img alt="SeamlessAcces Logo" src=""/>
				<p></p>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb1 primary">Kaldi</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/post" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>
		</div>
	</div>
</footer>
<footer class="center sub-footer pa3">
	<div class="flex-ns justify-between">

		<div>
			<p class="ma0">© 2020 All Rights Reserved <strong>SeamlessAccess</strong></p>
		</div>

		<div>
			<p class="ma0"><span class="mh3"><strong>CONTACT</strong></span><span class="mh1"><i class="fab fa-twitter"></i></span> <span class="mh2"><i class="fab fa-youtube"></i></span></p>
		</div>

	</div>
</footer>
{{ partial "svg" . }}

<script src="/app.js"></script>

<style>
	.main-footer {
		font-size: 14px;
		background: #216E93;
		color: white;
	}

	.main-footer .primary {
		color: white;
		font-size: 14px;
		text-transform: uppercase;
	}

	.sub-footer {
		font-size: 14px;
		background: #2E2E2E;
		color: white;
	}
</style>
